/* HUD In bottom right */
.player-hud {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    color: orange;
    text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
    width: 300px;
    margin: 20px;
}

.hudbar {
    display: flex;
    max-width: 150px;
    font-size: 10px;
}

.hud-top {
    display: flex;
    font-family: pxTitle;
}

.hud-title {
    font-size: 28px;
}

.hud-col {
    border-right: 1px solid orange;
}

.hud-titletext {
    text-align: center;
}

.hud-titletext-content {
    display: inline;
    font-family: pxTitle;
    color: orange;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
    opacity: 0.8;
}

/* Kill Feed in top right corner */
.killfeed {
    text-transform: uppercase;
    font-family: smb;
    position: fixed;
    right: 1px;
    top: 1px;
    margin-top: 24px;
    justify-content: space-around;
    max-height: 500px;
    text-align: right;
    margin-right: 20px;
    opacity: 0.8;
    font-size: 20px;
}

.killfeed-row {
    display: flex;
    min-width: 400px;
    max-width: 800px;
}

.killfeed-instigator {
    color: green;
}

.killfeed-weapon {
    margin-top: -4px;
    margin-left: -4px;
    font-family: csswpn;
    text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
    font-size: 48px;
    margin-bottom: -48px; /* hack because of counter strike icon */
    color: orange;
    margin-right: 8px;
    min-width: 50px;
    max-width: 150px;
    text-align: center;
}

.killfeed-victim {
    color: red;
    text-align: left;
    width: 300px;
}

 #warnNextLevel {
    margin-top: 50px;
}

.warnContainer {
    bottom: 0;
    margin-top: 80px;
}

.discord {
    font-size: 24px;
}

#reload-prompt {
    text-align: center;
    bottom: 0;
    color: red;
}

@media(max-height: 1000px) {
    .hud-title {
        font-size: 20px;
    }

    .player-hud {
        width: 220px;
        margin: 10px;
    }

    .hud-titletext-content {
        font-size: 16px;
    }

    .killfeed {
        font-size: 14px;
    }
}
